body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header, .footer {
    display: flex;
    padding: 16px;
}

.header {
    display: flex;
    background-color: rgb(161, 209, 161);
    justify-content: center;
}

.title {
    background-color: white;
}

.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 102, 102);
}

.scores {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.player-score {
    background-color: aliceblue;
    padding: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.button {
    display: flex;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    padding: 16px;
    margin: 16px 0px;
    justify-content: center;
    align-items: center;
}

.results {
    background-color: aliceblue;
    margin-top: 60px;
    text-align: center;
}

.footer {
    background-color: rgb(110, 110, 196);
    justify-content: center;
}